.ui.borderless.topmenu.menu {
  background-color: #f5f5f5;
  box-shadow: none;
  border: none;
}

.ui.borderless.middlemenu.menu {
  box-shadow: none;
  border: none;
}
.footer-background {
  padding: 50px 50px 50px 50px;
  font-size: medium;
}
.ui.button{
  background-color: black;
  color: white;
}
#inputEmail {
  background-color: #f5f5f5;
  color: black ;
}
.ui.borderless.bottommenu.menu {
  box-shadow: none;
  border: none;

}